@font-face {
  font-family: "Signatra";
  src: url(../font/Signatra/Signatra.ttf);
}

@font-face {
  font-family: "Gibson-regular";
  src: url(../font/GIBSON/Gibson-Regular.ttf);
}

@font-face {
  font-family: "Pacifico";
  src: url(../font/pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "FiraMono-Regular";
  src: url(../font/FiraMono/FiraMono-Regular.ttf);
}

@font-face {
  font-family: 'montserratbold';
  src: url(../font/Monserrat/montserrat-bold-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

body{
  background:  #e0e0e026;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7F00FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}

.navbar-brand {
  font-family: "Signatra", serif;
  font-size: 2.3rem;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

.view,
body,
html {
  height: 100%;
  width: 100%;
  /* overflow-x:hidden; */
}

.nav-item>.nav-link {
  font-family: "Gibson-regular";
  text-transform: uppercase;
  font-size: smaller;

}

.view {
  background-image: url(../img/GLOW-19-XAVIER-PORTELA-5D3_0773.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer,
.top-nav-collapse {
  background: rgb(64, 7, 170);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(64, 7, 170, 0.8), rgba(88, 2, 87, 0.8));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(64, 7, 170, 0.8), rgba(88, 2, 87, 0.8));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo {
  white-space: nowrap;
  letter-spacing: 0.6rem;
  font-family: "Pacifico";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.904);

}

.letter {
  font-size: larger;
  color: rgb(255, 50, 228);

}

.girl {
  width: 450px;
}

.subtitulo {
  font-size: 3rem;
  font-family: "montserratbold", serif;
  /* font-weight: bolder; */
  color: #aa00ff;
  letter-spacing:3px;

}

.sobremi, .habilidades, .proyectos, .contactame{
  position: relative;
}
.sobremi::before, .habilidades::before, .proyectos::before, .contactame::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px;
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top:0;
}

.icon-css {
  width: 60px;
  height: 60px;
}

.title-icon {
  font-family: "Pacifico";
  color: #c20894d0;
}


/* imagenes habilidades */
.box-img{
  width: 250px;
  height: 200px;
  border-radius: 8px;
  transition: 0.3s;
  padding: 25px;
  background-color: #ebeae7;
}

.box-music{
  width: 100%;
  height:200px;
  position:relative;
}

.box-img:hover {
  transition: 0.4s;
  transform: scale(1.15);
  cursor: pointer;
}

.imagenes-habilidades, .imagenes-musica{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.imagenes-musica{
  object-fit: cover;  
  width:100%;
  border-radius:8px;
}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
  height: 100%;
  background: rgba(51, 50, 50, 0.555);
  border-radius:8px;
  transition: opacity 120ms ease 0s;
  opacity: 0;
}


.icon-play{
  color:#fff;
  width:30px;
  height:30px;
  position:absolute;
  z-index:100;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.overlay:hover{
  opacity:1;
  cursor: pointer;
}

.css-img {
  transform: scale(1.3);
}

.responsive-img, .js-img{
  transform: scale(1.1);
}


@media (min-width: 992px) {
  .titulo {
    font-size: 60px;
  }
}

@media (min-width: 769px) {
  .titulo {
    font-size: 45px;
  }

}

@media (max-width: 768px) {
  .titulo {
    font-size: 40px;

  }

  .box-img{
    width: 150px;
    height: 100px;
    padding:8px;
  }
}

@media (max-width: 460px) {
  .titulo {
    font-size: 29px;

  }

  .col-habilidades{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .subtitulo{
    letter-spacing: 0;
    font-size:2.55rem;
  }

  .frase{
    font-size: 2.26rem !important;
  }

  .box-music{
    height: 150px;
  }
}

@media (max-width: 374px) {
  .titulo {
    font-size: 24px;

  }
}

@media only screen and (max-width:768px) {
  .navbar {
    background: rgb(88, 2, 87);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(64, 7, 170, 0.8), rgba(88, 2, 87, 0.8));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(64, 7, 170, 0.8), rgba(88, 2, 87, 0.8));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar-toggler-icon {
    margin-left: -1rem;
  }
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: #0008 1px 1px 6px;
}

@media (max-width: 575px) {
  .navbar-toggler-icon {
    margin-left: -1rem;
  }

}

.my--20 {
  margin-top: -70px;
}

.gallery-img {
  padding: 0;
  margin: 0;
}

#sobremi::before,
#habilidades::before,
#proyectos::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

.parallax {
  background: url("../img/keyboard.jpg");
  background-color:rgba(230, 10, 156, 0.644);
  background-blend-mode:hard-light;
  background-attachment: fixed;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0px;
  position: absolute;

}

.parallax-heigth{
  height: 400px;
}

/* .m-top{
  margin-top:8rem;
} */

.frase{
  font-family: "Signatra";
  font-size:2.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.904);
}

.autor{
  font-family: "Gibson-regular";
  font-size:1.5rem;
}

.logo-footer{
  font-family: "Signatra";
  font-size:2.5rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.footerCopyright{
  color: rgba(255, 255, 255, 0.424);
  font-family:"open sans";
  
}

.fuente{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:14px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.contacto{
  font-family:"Gibson-regular";
  color:rgba(245, 245, 245, 0.698);
 
}

.btn-rounded{
  border-radius: none !important;
}

.formulario{
  background-color: rgba(223, 223, 223, 0.281);
  -webkit-box-shadow: 8px 10px 27px -4px rgba(212,205,212,0.69);
  -moz-box-shadow: 8px 10px 27px -4px rgba(212,205,212,0.69);
  box-shadow: 8px 10px 27px -4px rgba(212,205,212,0.69);
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  font-family:"Gibson-regular";
  color: rgb(0, 0, 0);
}

.titulo-form{
  color:#ec008ece; 
}

/* color-border-input */
.md-form input:not([type]),
.md-form input[type="text"]:not(.browser-default), 
.md-form input[type="password"]:not(.browser-default), 
.md-form input[type="email"]:not(.browser-default), 
.md-form input[type="url"]:not(.browser-default),
.md-form input[type="time"]:not(.browser-default),
.md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default),
.md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), 
.md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), 
.md-form input[type="search-md"], .md-form textarea.md-textarea {
  border-bottom: 1px solid #ce1888b4;
}

.md-form input:not([type]):focus:not([readonly]), .md-form input[type="text"]:not(.browser-default):focus:not([readonly]), .md-form input[type="password"]:not(.browser-default):focus:not([readonly]), .md-form input[type="email"]:not(.browser-default):focus:not([readonly]), .md-form input[type="url"]:not(.browser-default):focus:not([readonly]), .md-form input[type="time"]:not(.browser-default):focus:not([readonly]), .md-form input[type="date"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]), .md-form input[type="number"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: none;
}

/* input style */
.md-form input:not([type]):focus:not([readonly])+label,.md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="password"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="email"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="url"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="time"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="date"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="tel"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="number"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="search"]:not(.browser-default):focus:not([readonly])+label,.md-form input[type="search-md"]:focus:not([readonly])+label,.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #525353
}

.md-form input:not([type]):focus:not([readonly]),.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),.md-form input[type="search-md"]:focus:not([readonly]),.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ce1888b4; 
  -webkit-box-shadow: 0 1px 0 0 #ce1888b4;
  box-shadow: 0 1px 0 0 #ce1888b4
}

.btn-box{
  position: relative;
  z-index: 0;
}
.btn-gradient{
  color:#ec008c;
  outline: none;
  font-weight: 600;
  background-color: rgba(235, 229, 229, 0.932);
  transition: all .7s ease;
}
.btn-gradient:hover{
  color:#ff25a8a2;
}

.btn-box:before{
  content:'';
  background: linear-gradient(135deg, blue, red, yellow,green,violet, orange,crimson,skyblue, peru, magenta, cyan );
  position: absolute;
  top:-2px;
  left:14px;
  background-size: 400%;
  z-index: -1;
  width: calc( 100% - 27px );
  height: calc( 100% + 4px );
  filter: blur(2px);
  animation:moving-gradient 10s linear infinite;
  /* border-radius: 10px; */
}

.btn-box:after{
  z-index: -1;
  content: "";
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  /* border-radius: .6rem; */
}

@keyframes moving-gradient {
  0%{
    background-position: 0 0;
    opacity:1;
  }
  50%{
    background-position: 250% 0;
  }

  100%{
    background-position: 0 0;
    opacity:1;
  }
}

.swal2-image{
  margin: 0;
}
.swal2-header{
  padding: 0 2em;
}

.swal2-content{
  padding: 0;
}


.ierror{
  border-bottom: 2px solid red !important;
}

